.account-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #51a059;
  }
  
  .account-title, .account-subtitle {
    margin-bottom: 20px;
    color: #333;
  }
  
  .account-detail {
    color: #f5f0f0;
  }
  
  .project-title {
    margin-left: 20px;
    color: #333;
  }
  
 button[type="button"]:hover {
    background-color: #2b6cb0;
    
}
  
  .back-button:hover {
    background-color: #0056b3;
  }

  .project-link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  
  